@model PancakeProwler.Data.Common.Models.Recipe

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

    <div class="row">
        <div class="span4" >
            <img src="@Model.ImageLocation" />
        </div>
        <div class="span5" >
            <h3>Ingredients</h3>
            <ul>
                @foreach (var ingredient in Model.Ingredients.Split('\n').Where(x=> !String.IsNullOrWhiteSpace(x)))
                { 
                    <li>@ingredient</li>
                }
            </ul>
        </div>
    </div>
    <div class="row">
        <ol>
        @foreach (var step in @Model.Steps.Split('\n'))
        {
            <li>@step</li> 
        }
        </ol>
    </div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
