@model IEnumerable<PancakeProwler.Data.Common.Models.Recipe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="alert alert-success hidden" id="successAlert">
    <strong>Personalized Cookbook Requested!</strong>  You will recived an e-mail with a link shortly. 
</div>
<p>
    @Html.ActionLink("Create New", "Create") | <a href="#cookbookModal" role="button" data-toggle="modal">Generate Cookbook</a> | <input type="text" placeholder="Enter terms" name="searchTerm"/> <button class="btn" data-action="search">Search</button>
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }

    <div data-bind="visible: results().length > 0">
        <h3>Search Results</h3>
        <ul data-bind="foreach: results">
            <li><a data-bind="text: Name, attr: { href: '/Recipe/Edit/' + Id}"></a></li>
        </ul>
    </div>

    <div id="cookbookModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Generate Cookbook</h3>
        </div>
        <div class="modal-body">
            <fieldset>
                <legend>Details for your personal cookbook</legend>
                <label for="email">E-Mail</label>
                <input name="email" id="email" />
                <label for="name">Name</label>
                <input name="name" id="name" />
            </fieldset>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary generateCookbook" data-dismiss="modal">Send me my book</button>
        </div>
    </div>
</table>

@section Scripts
{
    <script>
        var model = { results: ko.observableArray([]) };
        ko.applyBindings(model);
        $(function () {
            var bookGenerator = new PancakeProwler.Recipe.Index.BookGenerator($(".generateCookbook"), $("#email"), $("#name"), $("#successAlert"));
            $("[data-action=search]").on("click", function () {
                $.getJSON("/Recipe/Search", { term: $("[name=searchTerm]").val() },
                    function (json) {
                        model.results.removeAll();
                        model.results.push.apply(model.results, json);
                    });
            });
        });
    </script>

}